<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>D&D Management System</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <header>
        <nav>
            <a th:href="@{/}">Home</a>
<!--            <a th:href="@{/characters}">Characters</a>-->
<!--            <a th:href="@{/campaigns}">Campaigns</a>-->
<!--            <a th:href="@{/items}">Items</a>-->
<!--            <a th:href="@{/monsters}">Monsters</a>-->

        </nav>
    </header>

    <footer>
        <p>&copy; 2024 D&D Management System</p>
    </footer>
</body>
</html>