<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mythic Mastery</title>
<!--    TODO reset-->
<!--    <link rel="stylesheet" href="/css/reset.css"/>-->
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<header th:fragment="navbar(activeLink)">
    <nav class="navbar">
        <ul class="nav-links">
            <li><a th:href="@{/}" th:classappend="${activeLink == 'index'}? 'activeLink'">Home</a></li>
            <li class="dropdown">
                <a href="#adventures" class="dropdown-toggle">Adventures</a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/races}" th:classappend="${activeLink == 'races'}? 'activeLink'">Races</a></li>
                    <li><a href="#classes">Classes</a></li>
                    <li><a href="#spells">Spells</a></li>
                    <li><a href="#items">Items</a></li>
                    <li><a th:href="@{/monsters}" th:classappend="${activeLink == 'monsters'}? 'activeLink'">Monsters</a></li>
                </ul>
            </li>
            <li><a th:href="@{/campaigns/all}" th:classappend="${activeLink == 'campaigns'}? 'activeLink'">Campaigns</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
<!--            <li sec:authorize="!isAuthenticated()"><a th:href="@{/users/register}" th:classappend="${activeLink == 'register'}? 'activeLink'">Register</a></li>-->
<!--            <li sec:authorize="!isAuthenticated()"><a th:href="@{/users/login}" th:classappend="${activeLink == 'login'}? 'activeLink'">Login</a></li>-->
            <li class="lang-dropdown">
                    <form th:method="get">
                        <label for="lang" th:text="#{nav_bar_language}">Lang</label>
                        <select id="lang" name="lang" onchange="this.form.submit()">
                            <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">EN</option>
                            <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">BG</option>
                        </select>
                    </form>
            </li>
        </ul>

    </nav>
</header>
<footer>
    <p>&copy; 2024 Fantasy Kingdom. All rights reserved.</p>
</footer>

</body>
</html>
