<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Character</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/js/scriptJS.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div th:replace="~{fragments/navbar :: nav(active=${'characters-update'})}"></div>
</header>
<main  class="hero">
    <h2 class="text-center">Update Character</h2>
    <div class="form-center">
        <form th:action="@{/characters/update/{id}(id=${id})}" th:object="${CharacterDTO}" th:method="put" class="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input  class="form-control" type="text" id="name" th:field="*{name}" required />
            </div>
            <div class="form-group">
                <label for="race">Race</label>
                <select id="race" th:field="*{race}">
                    <option th:each="race : ${characterRaces}" th:value="${race.name}" th:text="${race.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="characterClass">Class</label>
                <select id="characterClass" th:field="*{characterClass}">
                    <option th:each="class : ${characterClasses}" th:value="${class.name}" th:text="${class.name}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="level">Level</label>
                <input type="number" id="level" th:field="*{level}" />
            </div>
            <div class="form-group">
                <label for="hp">HP</label>
                <input type="number" id="hp" th:field="*{hp}" />
            </div>
            <div class="form-group">
                <label for="money">Money</label>
                <input type="number" step="0.01" id="money" th:field="*{money}" />
            </div>
            <div class="form-group">
                <label for="armorClass">Armor Class</label>
                <input type="number" id="armorClass" th:field="*{armorClass}" />
            </div>
            <div class="form-group">
                <label for="speed">Speed</label>
                <input type="number" id="speed" th:field="*{speed}" />
            </div>
            <div class="form-group">
                <label for="strength">Strength</label>
                <input type="number" id="strength" th:field="*{strength}" />
            </div>
            <div class="form-group">
                <label for="dexterity">Dexterity</label>
                <input type="number" id="dexterity" th:field="*{dexterity}" />
            </div>
            <div class="form-group">
                <label for="constitution">Constitution</label>
                <input type="number" id="constitution" th:field="*{constitution}" />
            </div>
            <div class="form-group">
                <label for="intelligence">Intelligence</label>
                <input type="number" id="intelligence" th:field="*{intelligence}" />
            </div>
            <div class="form-group">
                <label for="wisdom">Wisdom</label>
                <input type="number" id="wisdom" th:field="*{wisdom}" />
            </div>
            <div class="form-group">
                <label for="charisma">Charisma</label>
                <input type="number" id="charisma"
                       th:field="*{charisma}" />
            </div>
            <div class="form-group">
                <label for="item1">Item 1</label>
                <select id="item1" th:field="*{items}">
                    <option th:each="item : ${items}" th:value="${item.id}" th:text="${item.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="item2">Item 2</label>
                <select id="item2"  th:field="*{items[1]}">
                    <option th:each="item : ${items}" th:value="${item.id}" th:text="${item.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="item3">Item 3</label>
                <select id="item3" th:field="*{items[2]}">
                    <option th:each="item : ${items}" th:value="${item.id}" th:text="${item.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="spell0">Spell 1 (catnip)</label>
                <select id="spell0" th:field="*{spells[0]}">
                    <option th:each="spell : ${spells}" th:if="${spell.level == 0}" th:value="${spell.id}" th:text="${spell.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="spell01">Spell 2 (catnip)</label>
                <select id="spell01" th:field="*{spells[1]}">
                    <option th:each="spell : ${spells}" th:if="${spell.level == 0}" th:value="${spell.id}" th:text="${spell.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="spell02">Spell 3 (catnip)</label>
                <select id="spell02" th:field="*{spells[2]}">
                    <option th:each="spell : ${spells}" th:if="${spell.level == 0}" th:value="${spell.id}" th:text="${spell.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="filteredSpells1">Spell 4 </label>
                <select id="filteredSpells1" th:field="*{spells}">
                    <option th:each="spell : ${spells}" th:if="${spell.level > 0}" th:value="${spell.id}" th:text="${spell.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="filteredSpells2">Spell 5 </label>
                <select id="filteredSpells2" th:field="*{spells}" >
                    <option th:each="spell : ${spells}"  th:if="${spell.level > 0}" th:value="${spell.id}" th:text="${spell.name}">
                    </option>
                </select>
            </div>
            <div class="btn-holder d-flex justify-content-center">
                <button type="submit" class="auth-button">Update Character</button>
            </div>
        </form>
    </div>
</main>
<footer>
    <p>&copy; 2024 Mythic Mastery. All rights reserved.</p>
</footer>
</body>
</html>
