<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mythic Mastery - Add Character</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>
<body>
<header>
    <div th:replace="~{fragments/navbar::navbar(activeLink=${'add-character'})}"></div>
</header>

<div class="container">
    <div class="form-box">
        <h2 class="title">Add Character</h2>
        <form th:action="@{/characters/add}" th:method="post" th:object="${addCharacterDTO}">
            <div class="form-group">
                <label th:for="name" class="label">Name</label>
                <input th:field="*{name}" type="text" class="form-control" placeholder="Name" required/>
            </div>
            <div class="form-group">
                <label th:for="race" class="label">Race</label>
                <input th:field="*{race}" type="text" class="form-control" placeholder="Race" required/>
            </div>
            <div class="form-group">
                <label th:for="characterClass" class="label">Class</label>
                <input th:field="*{characterClass}" type="text" class="form-control" placeholder="Class" required/>
            </div>
            <div class="form-group">
                <label th:for="characterSubClass" class="label">Subclass</label>
                <input th:field="*{characterSubClass}" type="text" class="form-control" placeholder="Subclass"/>
            </div>
            <div class="form-group">
                <label th:for="level" class="label">Level</label>
                <input th:field="*{level}" type="number" class="form-control" placeholder="Level" required min="1" max="20"/>
            </div>
            <div class="form-group">
                <label th:for="hp" class="label">HP</label>
                <input th:field="*{hp}" type="number" class="form-control" placeholder="HP" required min="1"/>
            </div>
            <div class="form-group">
                <label th:for="money" class="label">Money</label>
                <input th:field="*{money}" type="number" class="form-control" placeholder="Money" step="0.01" required/>
            </div>
            <div class="form-group">
                <label th:for="armorClass" class="label">Armor Class</label>
                <input th:field="*{armorClass}" type="number" class="form-control" placeholder="Armor Class" required min="0"/>
            </div>
            <div class="form-group">
                <label th:for="speed" class="label">Speed</label>
                <input th:field="*{speed}" type="number" class="form-control" placeholder="Speed" required min="0"/>
            </div>
            <div class="form-group">
                <label th:for="strength" class="label">Strength</label>
                <input th:field="*{strength}" type="number" class="form-control" placeholder="Strength" required min="0"/>
            </div>
            <div class="form-group">
                <label th:for="dexterity" class="label">Dexterity</label>
                <input th:field="*{dexterity}" type="number" class="form-control" placeholder="Dexterity" required min="0"/>
            </div>
            <div class="form-group">
                <label th:for="constitution" class="label">Constitution</label>
                <input th:field="*{constitution}" type="number" class="form-control" placeholder="Constitution" required min="0"/>
            </div>
            <div class="form-group">
                <label th:for="intelligence" class="label">Intelligence</label>
                <input th:field="*{intelligence}" type="number" class="form-control" placeholder="Intelligence" required min="0"/>
            </div>
            <div class="form-group">
                <label th:for="wisdom" class="label">Wisdom</label>
                <input th:field="*{wisdom}" type="number" class="form-control" placeholder="Wisdom" required min="0"/>
            </div>
            <div class="form-group">
                <label th:for="charisma" class="label">Charisma</label>
                <input th:field="*{charisma}" type="number" class="form-control" placeholder="Charisma" required min="0"/>
            </div>
            <div class="btn-holder">
                <input type="submit" class="btn btn-main" value="Add Character"/>
            </div>
        </form>
    </div>
</div>

<footer>
    <p>&copy; 2024 Mythic Mastery. All rights reserved.</p>
</footer>

</body>
</html>
