<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Mythic Mastery</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>

<body>
<div th:replace="~{fragments/navbar::navbar(activeLink=${'classes'})}"></div>

<div class="hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>All Classes</h1>
            <div class="card-container">
                <div class="info-card" th:each="class :${classes}">
                    <div class="card-header">
                        <h2 th:text="${class.getName()}">Race Name</h2>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Alignment: <span th:text="${class.getHit_die()}">Alignment</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 Mythic Mastery. All rights reserved.</p>
</footer>

</body>
</html>
