<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
  <title>Mythic Mastery</title>
</head>

<body>

<header th:replace="fragments/commons::header"></header>

<div class="container">
  <h2 class="text-center text-white">Register User</h2>
  <form th:method="POST"
        th:action="@{register}"
        th:object="${registerData}"
        class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
    <div class="row">
      <div class="form-group col-md-6 mb-3">
        <label th:for="username" class="text-white font-weight-bold">Username</label>
        <input
                th:field="*{username}"
                type="text"
                class="form-control"
                id="username"
                placeholder="Username"/>
      </div>
      <div class="form-group col-md-6 mb-3">
        <label th:for="password" class="text-white font-weight-bold">Password</label>
        <label>
          <input
                  th:field="*{password}"
                  type="password"
                  class="form-control"
                  name="password"
                  placeholder="Password"/>
        </label>
        <!--                <p class="errors alert alert-danger">-->
        <!--                    Password is required.-->
        <!--                </p>-->
      </div>
    </div>

    <div class="row">
      <div class="col col-md-4">
        <div class="button-holder d-flex">
          <input type="submit" class="btn btn-info btn-lg" value="Create user"/>
        </div>
      </div>
    </div>
  </form>
</div>

<div>
  <footer> </footer>
</div>

</body>
</html>