<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mythic Mastery - Register</title>
  <link rel="stylesheet" href="/css/reset.css"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>

<body>

<header>
  <div th:replace="~{fragments/navbar :: nav(active=${'register'})}"></div>
</header>

<main class="hero">
  <h2 class="text-center text-white">Register User</h2>
  <div class="form-center">
    <form th:method="post" th:action="@{/users/register}" th:object="${registerData}" class="form mx-auto">
      <div class="form-group mb-3">
        <label th:for="name" class="text-white font-bold">Username:</label>
        <input th:field="*{name}" type="text" class="form-control" placeholder="Username"/>
        <!-- <p class="error alert alert-danger">First name is required.</p> -->
      </div>
      <div class="form-group mb-3">
        <label th:for="password" class="text-white font-bold">Password:</label>
        <input th:field="*{password}" type="password" class="form-control" placeholder="Password"/>
        <!-- <p class="error alert alert-danger">Password is required.</p> -->
      </div>
      <div class="btn-holder d-flex justify-content-center">
        <input type="submit" class="btn btn-main btn-lg auth-button" value="Sign Up"/>
      </div>
    </form>
  </div>
</main>

<footer>
  <p class="text-center text-white">&copy; 2024 Mythic Mastery. All rights reserved.</p>
</footer>

</body>
</html>
